div.array_bar{
    width:2.25px;
    background-color: turquoise;
    display: inline-block;
    margin:0.8px;
}
body{
    background-color: black;
}

.div1{
    position: absolute;
    background-color: white;
    margin-left:10cm;
    width:17cm;
    height:12cm;
    border-radius:45px;
}

textarea {
    font-size: 16px;
    resize: none;
    width:16cm;
    height: 10cm;
    color:blue;
    border-color: white;
}
