div.array_contain{
    margin-left: 0.5cm;
    position: absolute;
    left:10px;
}
button.button{
    font-weight: bold;
    margin-top:0.4cm;
    margin-left: 9cm;
    position:absolute;
}
button.button1{
    font-weight: bold;
    margin-left: 12cm;
    margin-top:0.4cm;
    position:absolute;
}
button.button2{
    font-weight: bold;
    margin-left: 15cm;
    margin-top:0.4cm;
    position:absolute;
}
button.button3{
    font-weight: bold;
    margin-left: 18cm;
    margin-top:0.4cm;
    position:absolute;
}
button.button4{
    font-weight: bold;
    margin-left: 21cm;
    margin-top:0.4cm;
    position:absolute;
}
div.array_bar{
    width:2.25px;
    background-color: turquoise;
    display: inline-block;
    margin:0.8px;
}
body{
    background-color: black;
}
div.navBar{
    margin-top:0.1cm;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    background-color: navy;
    height: 1.5cm;
    width: 40cm;
}
div.bardiv{
    margin-top:1cm;
    height:17cm;
    margin-right:0.7cm;
    position:absolute;
}
h3{
    margin-top:0.3cm;
    position: absolute;
    margin-left:2cm;
}
input.range{
    margin-left: 32cm;
    margin-top:0.6cm;
}
h4{
    margin-top:0.5cm;
    position: absolute;
    margin-left: 25cm;
}
div.div1{
    position: absolute;
    background-color: white;
    margin-left:10cm;
    width:17cm;
    height: 12cm;
    border-radius:45px;
}
nav.nav1{
    align-items: center;
    justify-content: center;
    background-color: blue;
    width:17cm;
    height:01cm;
}
textarea {
    font-size: 16px;
    resize: none;
    width:16cm;
    height: 10cm;
    color:blue;
    border-color: white;
}
button.forceStop{
    position:absolute;
    margin-top:0cm;
    box-shadow: 2px 2px black;
    cursor: pointer;
    width:4cm;
    height: 1cm;
    background-color: red;
    color: white;
}